{% extends "base.html" %} {% block content %}
<div class="container mt-5">

    <section class="text-center mb-4">
        <h1>About</h1>
        <p>This is a Health Care Chat Bot</p>

    </section>

    <div class="row mt-4 mb-4">
        <div class="col-md-5 border rounded border-success-subtle bg-white  p-2">
            <h2 class="text-center text-success">Our Mission</h2>
            <p class="text-center">
                Our Health Care Chat Bot aims to provide reliable and instant health care information to users. 
                It leverages advanced AI technology to understand and respond to your health-related queries, 
                ensuring you get the support you need anytime, anywhere.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 border rounded border-success-subtle bg-white p-2">
            <h2 class="text-center text-success">Our Vision</h2>
            <p class="text-center">
                Our vision is to revolutionize the health care industry by integrating AI technology to provide 
                accessible, efficient, and personalized health care assistance to everyone. We strive to create 
                a future where health care is more proactive, predictive, and patient-centered.
            </p>
        </div>
    </div>

  
    <section class="mt-5 mb-4">
        <h2 class="text-center">Frequently Asked Questions (FAQ)</h2>
        <div class="accordion" id="faqAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqOne" aria-expanded="true" aria-controls="faqOne">
                        What is this Health Care Chat Bot?
                    </button>
                </h2>
                <div id="faqOne" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        This Health Care Chat Bot is an AI-powered tool designed to assist with your health care needs by providing reliable and instant health care information.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqTwo" aria-expanded="false" aria-controls="faqTwo">
                        How does the Chat Bot work?
                    </button>
                </h2>
                <div id="faqTwo" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        The Chat Bot uses advanced natural language processing (NLP) and machine learning algorithms to understand and respond to your queries. It is trained on a vast dataset of medical information to provide accurate and up-to-date responses.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqThree" aria-expanded="false" aria-controls="faqThree">
                        Is the information provided by the Chat Bot reliable?
                    </button>
                </h2>
                <div id="faqThree" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Yes, the information provided by the Chat Bot is reliable. The development involved collaboration with medical experts to ensure accuracy and reliability. We continuously update and improve the bot to enhance its performance and expand its knowledge base.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqFour" aria-expanded="false" aria-controls="faqFour">
                        Can the Chat Bot diagnose medical conditions?
                    </button>
                </h2>
                <div id="faqFour" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        The Chat Bot is designed to provide information and support but it is not a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition.
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}
