{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 d-flex flex-column justify-content-center">
      <h2>Welcome to Our Health Care ChatBot</h2>
      <p>
        Our Health Care ChatBot is designed to assist you with your
        health-related queries and provide personalized advice. Explore the
        features and benefits of our application to improve your health and
        well-being.
      </p>
      <a href="/chatbot" class="btn btn-outline-success d-inline">Get Started</a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <img
        src="/images/home.jpg"
        width="450"
        class="img-fluid"
        alt="Health Care ChatBot"
      />
    </div>
  </div>
</div>

<!-- Features of Health Care ChatBot Application: -->
<div class="container mt-5">
  <h2 class="text-center mb-4">Features</h2>
  <div class="row">
    <!-- Feature 1: BMI Calculator -->
    <div class="col-md-4">
      <div class="card mb-4 border-success-subtle">
        <div class="card-body">
          <h5 class="card-title">BMI Calculator</h5>
          <p class="card-text">
            Calculate your Body Mass Index (BMI) using the calculator below.
          </p>
          <a href="/bmicalc" class="btn btn-outline-success">Calculate BMI</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Benifits of Health Care chatBot Application: -->

<div class="container mt-5">
  <h2 class="text-center mb-4">Benefits</h2>
  <div class="row">
    <!-- Benefit 1: Health Monitoring -->
    <div class="col-md-4">
      <div class="card mb-4 border-success-subtle">
        <div class="card-body">
          <h5 class="card-title">
            <div class="fs-1 mr-3 text-success">
              <i class="fa-solid fa-house-medical"></i>
            </div>
            Health Monitoring
          </h5>
          <p class="card-text">
            Monitor your health and well-being using the Health Care ChatBot
            application.
          </p>
        </div>
      </div>
    </div>

    <!-- Benefit 2: Personalized Advice -->
    <div class="col-md-4">
      <div class="card mb-4 border-success-subtle">
        <div class="card-body">
          <h5 class="card-title">
            <div class="fs-1 mr-3 text-success">
              <i class="fa-solid fa-comment-medical"></i>
            </div>
            Personalized Advice
          </h5>
          <p class="card-text">
            Receive personalized health advice based on your data and
            preferences.
          </p>
        </div>
      </div>
    </div>
    <!-- Benefit 3: Appointment Scheduling -->
    <div class="col-md-4">
      <div class="card mb-4 border-success-subtle">
        <div class="card-body">
          <h5 class="card-title">
            <div class="fs-1 mr-3 text-success">
              <i class="fa-regular fa-calendar-check"></i>
            </div>
            Appointment Scheduling
          </h5>
          <p class="card-text">
            Easily schedule appointments with healthcare professionals through
            the application.
          </p>
        </div>
      </div>
    </div>
    <!-- Benefit 4: Medication Reminders -->
    <div class="col-md-4">
      <div class="card mb-4 border-success-subtle">
        <div class="card-body">
          <h5 class="card-title">
            <div class="fs-1 mr-3 text-success">
                <i class="fa-regular fa-bell"></i>
            </div>
            Medication Reminders
          </h5>
          <p class="card-text">
            Set up reminders for your medications to ensure you never miss a
            dose.
          </p>
        </div>
      </div>
    </div>
    <!-- Benifit 5: Health Insights -->
    <div class="col-md-4">
      <div class="card mb-4 border-success-subtle">
        <div class="card-body">
          <h5 class="card-title">
            <div class="fs-1 mr-3 text-success">
                <i class="fa-solid fa-bolt"></i>
            </div>
            Health Insights
          </h5>
          <p class="card-text">
            Gain valuable insights into your health and well-being using the
            application.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
